:root{
    --container-color: white;
}
body.dark{
    --container-color: rgb(73, 60, 60);
}

.container {
    max-width: 400px;
    margin: 120px auto;
    padding: 20px;
    background-color: var(--container-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.caution {
    color: #999;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}

.caution a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.caution a:hover {
    text-decoration: underline;
}